<!doctype html>

<html ng-app="westudentsApp">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		
		<title>Westudents: Service for oversea students</title>
		
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.min.css" />		

		<!--link rel="stylesheet" href="styles/global.css" />
		<link rel="stylesheet" media="screen and (min-width: 641px)" href="styles/desktop.css" />
		<link rel="stylesheet" href="styles/mobile.css" />
		<link rel="stylesheet/less" type="text/css" href="styles/styles.less" />
		<link rel="stylesheet" type="text/css" href="theme/css/white.css"/-->
		
		
		<!--  script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script-->
		<script src="bower_components/less/dist/less.min.js"></script>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/underscore/underscore-min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="bower_components/angular-touch/angular-touch.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="bower_components/angular-translate/angular-translate.min.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

		<script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
	</head>
	
	<body ng-controller="mainController">
		<div ng-controller="headerController" class="header">
			<nav class="navbar navbar-default navbar-fixed-top" >
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menus" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> 
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="back-btn visible-xs-inline visible-sm-inline" ng-show="!bHomePage" ng-click="back()">
							<span class="glyphicon glyphicon-menu-left" style="height: 40px;"></span>
						</div>
						<a href="#" class="navbar-brand" ng-click="openHome()">Westudents</a>
					</div>
			
					<div class="navbar-collapse collapse" id="nav-menus" data-toggle="collapse" data-target="#nav-menus.in"><!-- ng-show="displayMenu()" -->
						<ul class="nav navbar-nav">
							<li ng-show="isAdminLogin()"><a ng-click="openAdminPage()"><span translate>Administrator</span></a></li>
							<li><a ng-click="openHome()"><span translate>Home</span></a></li>
							<!-- li><a ng-click="openListing()"><span translate>Listing</span></a></li-->
							<li><a ng-click="listNewProperty()"><span translate>List Your Room</span></a></li>
							<li ng-show="loggedIn"><a ng-click="openMyListing()"><span translate>My Properties</span></a></li>
							<li><a ng-click="contact()"><span translate>ContactUs</span></a></li>

						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li ng-hide="loggedIn"><a ng-click="openLoginPage()"><span translate>Login</span></a></li>
							<li ng-hide="loggedIn"><a ng-click="openSignUpPage()"><span translate>Signup</span></a></li>
							<li ng-show="loggedIn"><a ng-click="logout()"><span translate>Logout</span></a></li>
							<!--li><a ng-click="showLanguageList()"><span translate>Change Language</span></a></li ng-show="bShowLanguageList"-->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
									<span translate>Language</span><span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu" >
									<li><a ng-click="changeLanguage('en')"><span>English</span></a></li>
									<li><a ng-click="changeLanguage('zh_CN')"><span>简体中文</span></a></li>
								</ul>
							</li>
						</ul>
					</div><!-- end of nav-menus -->
				</div>
			</nav>
		</div><!-- end of header -->
		
		<div ng-view style="margin-top:60px;"></div>
	
		<div class="col-xs-12 col-sm-12 col-md-12 footer">
			<div ng-controller="footerController" class="container">
				<div class="col-xs-12 col-sm-12 col-md-5">
					<p class="footer-title">Westudents.ca</p>
					<br /> <a ng-click="openTermsPage()" translate>PrivacyPolicy</a> |
					<a href="" ng-click="openPrivacyPage()" translate>TermsOfUse</a>
				</div>
				
				<div class="col-xs-6 col-sm-6 col-md-2">
					<p>&nbsp;</p>
					<a href="" ng-click="openHomePage()" translate>Home</a><br /> <a
						href="" ng-click="openSignUpPage()" translate>Signup</a><br /> <a
						href="" ng-click="contact()" translate>AboutUs</a><br />
				</div>
				
				<div class="col-xs-6 col-sm-6 col-md-2">
					<p>&nbsp;</p>
					<a href="" ng-click="contact()" translate>ContactUs</a><br /> <a
						href="" translate>News</a><br /> <a href="" translate>Careers</a><br />
				</div>
				
				<div class="col-md-12">
					<span>&copy; 2014-2015 Westudents Inc.</span> 
					<span translate>AllRightsReserved</span>
					<span>Ontario, Canada, N6G 0C9</span>
				</div>
			</div>
		</div><!-- end of footer -->

		<!--script src="scripts/translations.js"></script>
		<script src="scripts/home/sidebar-controller.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/services/main-service.js"></script>
		<script src="scripts/validate/validate-service.js"></script>
		<script src="scripts/datetime/datetime-service.js"></script>
	
		<script src="scripts/components/list/list-directive.js"></script>
		<script src="scripts/components/datepicker/datepicker-directive.js"></script>
		<script src="scripts/components/dual-list/dual-list-directive.js"></script>
		<script src="scripts/components/wizard/wizard-directive.js"></script>
		<script src="scripts/components/carousel/carousel-directive.js"></script>
		<script src="scripts/components/image-viewer/image-viewer-directive.js"></script>
		
		<script src="scripts/components/address-select/address-select-directive.js"></script>
		<script src="scripts/components/city-select/city-select-directive.js"></script>
		<script src="scripts/components/tab/tab-directive.js"></script>
		
		<script src="scripts/home/home-controller.js"></script>
		<script src="scripts/home/header-controller.js"></script>
		<script src="scripts/home/footer-controller.js"></script>
		
		
		<script src="scripts/components/item-list/item-list-service.js"></script>
		<script src="scripts/components/item-list/item-list-directive.js"></script>
		
		<script src="scripts/services/search-service.js"></script>
		
		<script src="scripts/components/search-box/search-box-directive.js"></script>
		<script src="scripts/components/image-uploader/image-uploader-directive.js"></script>
		<script src="scripts/components/image-uploader/image-uploader-service.js"></script>
		
	
		<script src="scripts/services/map-service.js"></script>
		<script src="scripts/services/database-service.js"></script>
		<script src="scripts/services/address-service.js"></script>
		<script src="scripts/services/property-service.js"></script>
		<script src="scripts/services/http-service.js"></script>
		<script src="scripts/services/picture-service.js"></script>
		<script src="scripts/services/school-service.js"></script>
		
		<script src="scripts/property-list/property-list-service.js"></script>
		<script src="scripts/property-list/property-list-controller.js"></script>

		<script src="scripts/map-view/map-view-controller.js"></script>

		<script src="scripts/property-detail/property-detail-service.js"></script>	
		<script src="scripts/property-detail/property-detail-controller.js"></script>
	
		<script src="scripts/mobile-app-controller.js"></script>
		
		<script src="scripts/signup/signup-form-directive.js"></script>
		<script src="scripts/signup/signup-controller.js"></script>
	
		<script src="scripts/property-form/property-form-controller.js"></script>
		<script src="scripts/admin/admin-controller.js"></script>
	
		
		<script src="scripts/login/login-service.js"></script>
		<script src="scripts/login/login-controller.js"></script>
		<script src="scripts/login/forget-password-controller.js"></script>
		<script src="scripts/login/reset-password-controller.js"></script>
		
		<script src="scripts/legal/terms-controller.js"></script>
		<script src="scripts/legal/privacy-controller.js"></script>
		<script src="scripts/contacts/contacts-controller.js"></script-->
	</body>
</html>
